<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/scripts")
</head>
<body class="d-flex flex-column">
    <main class="flex-shrink-0">
        @Html.Partial("_Navigation")
        @RenderBody()
    </main>
    @Html.Partial("_Footer")
</body>
</html>
