@model adventureworks.Models.foto

@{
    ViewBag.Title = "Delete";
}

<section class="py-5">
    <div class="container px-5">
        <h2 class="fw-bolder fs-5 mb-4">Esta seguro que desea eliminar esta foto?</h2>
        <div>
            <h4>foto</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.foto_titulo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.foto_titulo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.foto_file)
                </dt>

                <dd>
                    @if (Model.foto_file != null)
                    {
                        <img src="@Model.FotoFile" class="img-fluid" alt="Foto" />
                    }
                    else
                    {
                        <p>No hay imagen disponible.</p>
                    }
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.foto_descripcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.foto_descripcion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.foto_fecha_creacion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.foto_fecha_creacion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.usuario.usuario_nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.usuario.usuario_nombre)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    @Html.ActionLink("Regresar", "Index")
                </div>
            }
        </div>
</div>
</section>