@model adventureworks.Models.foto
@using adventureworks.Utils

@{
    ViewBag.Title = "Detalle | " + Model.foto_titulo;
}
<section class="py-5">
    <div class="container px-5 my-5">
        <a href="@Url.Action("Index","Fotos")" class="btn btn-outline-primary btn-sm d-lg-none d-xs-inline-block mb-3">
            <i class="fa-solid fa-arrow-left"></i>  @UiMessages.BtnRegresar
        </a>
        <div class="row gx-5">
            <div class="col-lg-3">
                <div class="d-flex align-items-center mt-lg-5 mb-2">
                    <i class="fa-solid fa-user fa-3x"></i>
                    <div class="ms-3">
                        <div class="fw-bold text-capitalize">
                            @Model.usuario.usuario_nombre
                        </div>
                    </div>
                </div>
                @if (ViewBag.opcionesUser)
                {
                    <hr />
                    <div class="d-flex align-items-center mt-sm-1 mb-4">
                        <i class="fa-solid fa-user-gear fa-3x"></i>
                        <div class="ms-3">
                            <div class="d-grid gap-2 mx-auto">
                                <a href="@Url.Action("Edit", "Fotos", new { id = Model.foto_id })" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="right" title="Editar">
                                    <i class="fa-solid fa-pen-to-square"></i> Editar publicaci&oacute;n
                                </a>
                                <br />
                                <button type="button" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="right" title="Eliminar" onclick="eliminarDialog(@Model.foto_id);">
                                    <i class="fa-solid fa-trash-can"></i> Eliminar esta foto
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-lg-9">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <a href="@Url.Action("Index","Fotos")" class="btn btn-outline-primary btn-sm d-none d-lg-inline-block">
                            <i class="fa-solid fa-arrow-left"></i>  @UiMessages.BtnRegresar
                        </a>
                        <h1 class="fw-bolder mb-1">@Model.foto_titulo</h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">@Model.foto_fecha_creacion</div>
                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4">
                        <img class="img-fluid rounded" src="@Model.FotoFile" alt="Foto post" />
                    </figure>
                    <!-- Post content-->
                    <section class="mb-5">
                        <p>
                            @Model.foto_descripcion
                        </p>
                    </section>
                </article>
                <!-- Comments section-->
                <section>
                    <h3>Comentarios</h3>
                    <div class="card bg-light">
                        <div class="card-body">
                            <!-- Comment form-->
                            @if (ViewBag.session)
                            {
                                using (Html.BeginForm("Details", "Fotos", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="row align-items-center">
                                        <div class="col-sm-12">
                                            <input type="text" name="comentario_subject" required="" placeholder="@UiMessages.subjectComment" class="form-control" />
                                            <br />
                                            <textarea class="form-control" rows="3" required="" name="comentario_body" placeholder="@UiMessages.dejarUnComentario"></textarea>
                                            @Html.Hidden("foto_id", Model.foto_id)

                                        </div>
                                        <div class="clearfix"><br /></div>
                                        <div class="col-sm-12">
                                            <button type="submit" class="btn btn-primary">@UiMessages.BtnPublicar</button>
                                        </div>
                                    </div>

                                }
                            }
                            else
                            {
                                <div class="d-flex">
                                    <div class="ms-3">
                                        @UiMessages.sesionRequeridaComentarios
                                        <br /><br />
                                        <a class="btn btn-primary btn-sm" href="@Url.Action("Login", "Login")">
                                            Iniciar sesi&oacute;n
                                        </a>
                                    </div>
                                </div>
                            }
                            <div class="clearfix"><br /></div>
                            @if (Model.comentarios != null && Model.comentarios.Any())
                            {
                                <ul style="padding-left:1rem;">
                                    @foreach (var comentario in Model.comentarios)
                                    {
                                        <li class="d-flex mb-3 align-items-center bg-secondary bg-opacity-10 p-3 rounded-5">
                                            <div class="flex-shrink-0">
                                                <i class="fa-solid fa-user fa-2x"></i>
                                            </div>
                                            <div class="ms-3">
                                                <div class="fw-bold">@comentario.comentario_subject <small class="text-muted">- @comentario.usuario.usuario_nombre - @comentario.comentario_fecha_creacion.ToShortDateString() a las @comentario.comentario_fecha_creacion.ToShortTimeString()</small></div>
                                                @comentario.comentario_body
                                            </div>
                                        </li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <div class="d-flex">
                                    <div class="ms-3">
                                        @UiMessages.sinComentarios
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
@if (TempData["message"] != null)
{
    <script>
        $(document).ready(function () {
            Swal.fire({
                html: "@TempData["message"]",
                icon: "@TempData["icon"]",
                confirmButtonText: 'Aceptar'
            });
        });
    </script>
}
<script>
    function eliminarDialog(foto_id) {
        Swal.fire({
            icon: "question",
            text: "Estas seguro que quieres eliminar esta foto?",
            showCancelButton: true,
            confirmButtonText: "Eliminar",
            confirmButtonColor: "#d33",
            cancelButtonText: "Cancelar"
        }).then((result) => {
            if (result.isConfirmed) {
                // Realiza la solicitud POST
                fetch('@Url.Action("EliminarFoto","Fotos")', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json', // Asegura que el servidor reciba JSON
                    },
                    body: JSON.stringify({ id: foto_id })
                })
                .then(response => {
                    if (response.ok) {
                        Swal.fire({
                            icon: "success",
                            text: "Foto eliminada con éxito.",
                            timer: 3000
                        }).then(() => {
                            location.href = "@Url.Action("MisPublicaciones","Usuarios")";
                        });
                    } else {
                        return response.text().then(text => {
                            Swal.fire({
                                icon: "error",
                                text: text || "Hubo un error al eliminar la foto."
                            });
                        })
                    }
                })
                .catch(error => {
                    Swal.fire({
                        icon: "error",
                        text: "No se pudo realizar la solicitud."
                    });
                    console.error(error);
                });
            }
        });
    }
</script>